[init]
	defaultBranch = main
[user]
	email = felipereisbkp@gmail.com
	name = Felipe Tagawa
[credential]
	helper = manager
	credentialStore = secretservice
[url "git@github.com:"]
	insteadOf = https://github.com/
