messagedialog .dialog-action-box button,
messagedialog .dialog-action-box .linked:not(.vertical) > button {
  background-color: #393552;
  color: #e0def4;
  border: 1px solid #56526e;
  font-weight: 500;
}

messagedialog .dialog-action-box button:hover,
messagedialog .dialog-action-box .linked:not(.vertical) > button:hover {
  background-color: #44415a;
  color: #e0def4;
}
messagedialog {
  background-color: #232136;
  color: #e0def4;
}

messagedialog .dialog-action-box {
  background-color: #393552;
}
