[Desktop Entry]
Type=Application
Name=Vicinae Server
Comment=Inicia o servidor do launcher Vicinae em segundo plano
Exec=/home/kyo/.local/bin/vicinae server
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Icon=vicinae
